body {
  font-family: "Poppins", sans-serif;
}
#name {
  color: white;
  font-size: 25px;
}
#email {
  color: white;
  font-size: 25px;
}
#textarea {
  color: white;
  font-size: 25px;
}
@media screen and (max-width: 374px) {
  body {
    display: none;
  }
}
